.masuk {
    margin-left: 30px;
    margin-right: 10px;
    font-size: 19px;
}
.body{
    font-family: 'Bahnschrift';
}

mjx-container {
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
}

.text {
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    font-family: cursive;
}

.bg_nav {
    width: 100%;
    background-color: rgb(14, 111, 61);
    margin-top: 5px;
    border-radius: 0px 0 0 15px;
    
    
    
}

.bg_full {
    width: 100%;
    text-align: center;
    padding: 0px ;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    color: white;
    
    
}

.bg_soal {
    width: 100%;
    padding: 10px 0;
    background-color:  whitesmoke;
    color: black;
    border-radius: 0px 0 0 15px;
    border-bottom: 2px solid black;
    border-left: 2px solid black ;
    border-right: 2px solid black ; 
}

.soal_nav {
    width: 10%;
    height: 20%;
   
    text-align: center;
    border: 2px solid black;
    border-radius:0px 0 0 0px;
    float: left;
    margin-left: 8.5%;
    margin-top: 10px;
    box-sizing: border-box;
    color: black;
}

.soal_nav:hover {
    cursor: pointer;
    background-color: rgb(159, 212, 183);
}

.bg_soal span {
    padding: 2px;
    display: inline-block;
    width: 100px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
}

.belum {
    background-color: white;
    
}

.sudah {
    background-color: lightgreen;
}

.fontbesar {
    font-size: 23px;
}

.fontsedang {
    font-size: 20px;
    margin-top: 0px;
}

.ket {
    width: 100%;
    margin-left: 8.5%;
    margin-top: 3px;
    font-family:'Bahnschrift' ;
    
}

.clear {
    clear: both;
}

.selesai {
    margin-top: 10px;
    font-family:'Bahnschrift' ;
    font-size: 16px;
    text-align: center;
    width: 70%;
    background-color:  rgb(18, 82, 49);
    cursor: pointer;
    height: 25px;
    border-radius: 6px;
    /* line-height: 20px; */
    margin-left: 15%;
    border: 2px  black;
    color: white;
}

.selesai:hover {
    background-color:  rgb(79, 113, 95);
}

.hasil {
    background-color: rgb(14, 111, 61);
    width: 100%;
    padding: 15px;
    color: black;
    margin-top: 10px;
    box-sizing: border-box;
}

.skor {
    font-size: 50px;
    float: left;
    border: 2px solid green;
    padding: 15px 15px;
    margin-left: 30px;
    margin-right: 20px;
    color: black;
}

.bnr_slh {
    font-size: 20px;
    margin-top: 5px;
}

.bnr_slh span {
    padding: 0 !important;
    margin: 0 !important;
}

.hasil a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    background-color:  rgb(14, 111, 61);
    border: 2px solid rgb(9, 64, 82);
    padding: 2px 10px;
    border-radius: 5px;
}

.hasil a:hover {
    background-color: rgb(9, 64, 82);
}

.jrk {
    margin-top: 12px;
}


.bg_pertanyaan {
    width: 100%;
    margin-top: -10px;
    color: black;
}

.no {
    background-color:  rgb(14, 111, 61);
    padding: 10px 0;
    height: 47px;
    border-radius:  10px 10px 0 0;
    border: 2px solid black;
}

.no p {
    margin-left: 20px;
    font-size: 17px;
    font-weight: 500;
    color: white;
    font-family: cursive;
}

.inti_pertanyaan {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
    padding: 10px 20px;
    height: auto;
    font-family:Bahnschrift ;font-size:19px;
   
}

.pertanyaannya {
    font-size: 17px;
    
}

.batas {
    margin-top: 0px;
   
    
}

/* radio button */

.bg_pilihan,
.checkbox {
    position: relative;
    margin: 0px 0;
    display: block;
    font-size: 16px;
}

.bg_pilihan :hover,
.checkbox:hover {
    cursor: pointer;
}


.checkbox {
    display: block;
}

.bg_pilihan input,
.checkbox input {
    position: absolute;
    margin: 5px;
    padding: 0;
    visibility: hidden;
}

.bg_pilihan .textnya,
.checkbox .textnya {
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: -10px;
}

.nav_pilihan,
.fake-checkbox {
    position: absolute;
    display: block;
    top: 0;
    left: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(9, 64, 82);
    
}

.nav_pilihan:after,
.fake-checkbox:after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background:  rgb(91, 176, 132);
    transform: translateX(-50%) translateY(-50%);
}

.nav_pilihan {
    border-radius: 50%;
}

.nav_pilihan:after {
    border-radius: 50%;
}

input[type="radio"]:checked+span .nav_pilihan:after {
    display: block;
}

span {
    display: inline-block;
}


/* akhir button */



.nav_sebelum {
    color: rgb(239, 236, 236);
    font-weight: 500;
    margin-left: 143px;
    cursor: pointer;
    display: inline-block;
    background-color:  rgb(14, 111, 61);
    width: 18%;
    height:34px ;
    padding: 4px;
    padding-top:5px ;
    text-align: center;
    margin-top:10px;
    font-family:cursive ;
    border-radius: 6px;
    border: 2px  black;
    cursor: pointer;
    display: inline-block;
    margin-right: 3%;
}

.nav_sebelum:hover {
    background-color: #536c0d}
.nav_sebelum:active {
        background-color: #5b846d;
        box-shadow: 0 5px #666;
        transform: translateY(3px);
        }
.nav_sebelum p {
    font-size: 12px;
}

.nav_selanjut {
    color: rgb(239, 236, 236);
    font-weight: 500;
    margin-left: 8px;
    cursor: pointer;
    display: inline-block;
    background-color:  rgb(14, 111, 61);
    width: 18%;
    height:34px ;
    padding: 4px;
    padding-top:5px ;
    text-align: center;
    margin-top:10px;
    font-family:cursive ;
    border-radius: 6px;
    border: 2px  black;
    cursor: pointer;
    display: inline-block;
    margin-right: 3%;
}

.nav_selanjut:hover {
    background-color: #536c0d}
.nav_selanjut:active {
        background-color: #5b846d;
        box-shadow: 0 5px #666;
        transform: translateY(3px);
        }

.nav_selanjut p {
    font-size: 11px;
}

.hilang {
    display: none;
}

.disable {
    cursor: not-allowed;
    opacity: 0.5;
}

.disablee {
    background-color: rgb(133, 133, 133) !important;
    color: rgb(37, 37, 37);
    cursor: default !important;
}

.center {
    text-align: center;
}


.tt_salah {
    border: 2px solid red;
}
.arahan{
    border-radius: 10px;
   
    padding: 20px;
    padding-top: 0;
 
    font-size: 19px;
    line-height: 30px;
    margin: 0px;
    margin-top: -10px;
    /* height: 30px; */
    color: black;
    font-family:'Bahnschrift' ;
}

.petunjuk {
    background-color: #34915c; 
	font-family: cursive;
	border: 2px  black;
	color: rgb(255, 251, 251);
	padding: 5px;
	padding-right: 10px;
	padding-left: 15px;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	border-radius: 6px;
	margin-top: 10px;
	margin-left: 22px;
    width: auto;
}

.petunjuk:hover {background-color: #615a14}
	
.petunjuk:active {
	background-color: #5b846d;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
	}

.isinya {
    width:95% ;
    padding-left:25px;
    padding-top: 25px;
    padding-right: 6px;
    border: 2px dashed rgb(36, 117, 63);
    background-color: rgb(219, 254, 219);
    border-top-right-radius: 7px;
    margin-left:10px;
    margin-top: -20px;
    box-sizing: border-box;
    font-size: 18px;
    margin-right: 2px;
    font-family:'Bahnschrift' ;
}

.tmbl:hover{
    background-color: #0d7260;
}

ol {
    margin-left: 20px;
}

.data {
    min-height: 670px;
    height: 670x;
    background-color: white;
    color: black;
}

.dataaa {
    min-height: 670px;
    height: 650px;
    background-color: white;
    ;
}

.data_diri {
    /* margin-top: 10px; */
    margin-left: 0px;
    font-size: 23px;
    box-sizing: border-box;
    border: 2px solid green;
    padding-top: 10px 0px;
    height: 670px !important;
}

label {
    width: 300px;
    display: inline-block;
    margin-left: 5%;
    font-size: 23px;
    margin-top: 10px;
}

.mundur {
    display: block;
    width: 280px;
    height: 30px;
    padding: 2px 5px;
    font-size: 18px;
}

.aaa {
    display: block;
    width: 280px;
    height: 30px;
    padding: 2px 5px;
    font-size: 18px;
    font-family:'Bahnschrift' ;
    
}

.maju {
    display: block;
    width: 280px;
    height: 30px;
    padding: 2px 5px;
    font-size: 18px;
}

.tmbl {
    display: inline-block;
    width: auto;
    font-family:cursive ;
    color: white;
    padding: 3px;
    background-color:  rgb(14, 111, 61);
    border: 2px solid black;
    margin-top:15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}



.lanjut:hover {
    background-color: #19222a;
    cursor: pointer;
}




td {
    padding: 5px 0px;
}

.ket_hasil {
    width: auto;
    font-size: 15px;
    padding: 5px !important;
    color: black;
    margin-right:10px ;
}

a {
    text-decoration: none;
    color: black;
}

.pad{
    padding: 0 10px;
    padding-top: 15px;
    font-family: cursive;
}

h3{
    line-height: 2.5;
}

/* ---------------------------------------------------------------------------------- */

@media (min-width : 992px) {
    
    .tmbl {
        display: inline-block;
        width: auto;
        font-family:cursive ;
        color: white;
        padding: 5px 10px;
        background-color:  rgb(14, 111, 61);
        border: 2px black;
        margin-top: 29px;
        margin-left: 10px;
        font-weight: 500;
        text-align: center;
        font-size: 15px;
        cursor: pointer;
        border-radius: 3px;
        text-decoration: none;
    }

    .t_hasil {        
        text-align: center;
        padding: 10px;
        max-width: 530px;
        width: 480px;
        border: 2px solid rgb(14, 111, 61);
        border-radius: 10px;
        
    }

    td {
        padding: 7px 0px;
    }

    .ket_hasilnya{
        padding-left: 5%;
        float: left;
        
        
    }

    .ket_hasil {
        width: auto;
        font-size: 18px !important;
        float: left;
    

    }

    .skornya {
        /* margin-top: 10px; */
        margin-left: 0px;
        font-size: 18px;
        box-sizing: border-box;
        border-radius: 7px;
        border: 3px dashed rgb(14, 111, 61);
        min-height: auto;
        color:black;
        height: 460px;
        font-family: cursive;
        /* padding-bottom: 30px; */
    }
    .skornya hr{
        color:black;
        
    }

    ol {
        margin-left: 30px;
    }

    .petunjuk {
        width: 23%;
        font-size: 16px;
        font-weight: 200;
    }

    .isinya {
        margin-right: 5px;
        font-size: 1.6vw;
    }

   /* border awal mau masuk kuis */
   .data_diri {
    margin-top: 25px;
    margin-left: 0px;
    font-size: 1.6vw;
    box-sizing: border-box;
    border: 3px dashed rgb(17, 55, 35);
    padding-top: 10px 0px;
    height: 78vh !important;
    border-radius: 4px;
    background-color: white;
}
    

    label {
        width: 500px;
        display: list-item;
        margin-left: 26%;
        font-size: 1.6vw;
        margin-top: 10px;

    }

    .mundur {
        margin-left: 10px !important;
        display: inline-block;
    }

    .maju {
        display: inline-block;
        width: 300px;
        padding: 5px 5px;
    }

    .aaa {
        width: 300px;
        margin-left: 32px !important;
    }

    #nama,
    #sekolah {
        width: 300px;
        font-size: 1.6vw;
        margin-left: 30px;
        padding: 0px 10px;
    }
    #kelas {
        width: 300px;
        font-size: 1.6vw;
        margin-left: 30px;
        padding: 0px 10px;
    }

    .lanjut {
        display: inline-block;
        width: 130px;
        padding-top: 3px ;
        padding: 3px;
        background: rgb(22, 135, 76);
        color: whitesmoke;
        border-radius: 6px;
        border: 0px solid black;
        margin-top: 6px;
        font-family:cursive ;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
        margin-left: 40%;
        font-size: 16px;
    }

    .lanjut:hover {
        background-color: #19222a;
        cursor: pointer;
    }
    


    .masuk {
        font-size: 1.6vw;
    }

    .soal_nav {
        width: 14%;
        height: 18%;
        margin-left: 8.5%;
    }

    .hasil {
        padding: 10px;
        margin-top: 8px;
    }

    .skor {
        font-size: 1.8vw;
        padding: 15px 15px;
        margin-left: 15px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .bnr_slh {
        font-size: 1.4vw;
        margin-top: 2px;
    }


    .jrk {
        margin-top: 12px;
        margin-bottom: 10px;
    }

    .pertanyaannya {
        font-size: 1.6vw;
    }

    .no p {
        margin-left: 1.6vw !important;
    }

    .nav_sebelum {
        width: 22%;
    }

    .nav_sebelum p {
        font-size:15px;
    }

    .nav_selanjut {
        width: 22%;
        /* float: right; */
    }

    .nav_selanjut p {
        font-size: 15px;
    }
    
    .bg_pilihan,
    .checkbox {
        font-size: 1.6vw;
        width: auto;
    }

    .dataaa {
        min-height: auto;
        background-color: white;
        height: auto;

    }

    .data {
        min-height: auto;
        height: auto;
        background-color: white;
    }

    .bg_soal span {
        padding: 2px;
        display: inline-block;
        width: 60px;
        margin-bottom: 5px;
        text-align: center;
        border-radius: 5px;
    }

    .fontsedang {
        font-size: 1.3vw;
    }
}